{% extends 'base.html' %}

{#{% block title %} Password Reset {% endblock title %}#}
{##}
{#{% block content %}#}
{#    <div class="form-content my-3 p-3">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-lg-5">#}
{#                    {% if validlink %}#}
{#                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">#}
{#                            <div class="card-header justify-content-center">#}
{#                                <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>#}
{#                            </div>#}
{##}
{#                            {% if form.errors %}#}
{#                                <div class="alert alert-danger alert-dismissible" role="alert">#}
{#                                    <div id="form_errors">#}
{#                                        {% for key, value in form.errors.items %}#}
{#                                            <strong>{{ value }}</strong>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{##}
{#                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                        <span aria-hidden="true">&times;</span>#}
{#                                    </button>#}
{#                                </div>#}
{#                            {% endif %}#}
{##}
{#                            <div class="card-body">#}
{#                                <form method="post">#}
{#                                    {% csrf_token %}#}
{#                                    <div class="form-row">#}
{#                                        <div class="col-md-10 offset-md-1">#}
{#                                            <div class="form-group">#}
{#                                                <label class="small mb-1" for="id_new_password1">New Password</label>#}
{#                                                <input type="password" name="new_password1" autocomplete="new-password"#}
{#                                                class="form-control" required id="id_new_password1" placeholder="Enter password">#}
{#                                                <span></span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                    <div class="form-row">#}
{#                                        <div class="col-md-10 offset-md-1">#}
{#                                            <div class="form-group">#}
{#                                                <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>#}
{#                                                <input type="password" name="new_password2" autocomplete="new-password"#}
{#                                                required id="id_new_password2" class="form-control" placeholder="Confirm password">#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{##}
{#                                    <div class="form-row">#}
{#                                        <div class="col-md-10 offset-md-1">#}
{#                                            <div class="form-group mt-0 mb-1">#}
{#                                                <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="alert alert-warning">#}
{#                            The password reset link was invalid, possibly because it has already been used.#}
{#                            Please request a new password reset.#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock content %}#}
{% block title %}
    Password Reset
{% endblock title %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        {% if validlink %}

        <div class="card-header justify-content-center">
            <div id="error_div"></div>

            <h2 class="py-6 font-weight-light my-4 text-center">Forgot Password?</h2>
        </div>
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group p-3">
                            <label class="py-4 px-6" for="id_new_password1">New Password</label>
                            <input type="password" name="new_password1" class="py-4 px-6 w-3/4 rounded-xl form-control" autocomplete="new-password"
                            required id="id_new_password1" placeholder="Enter password">
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group p-3">
                            <label class="py-4 px-6" for="id_new_password2">Confirm Password</label>
                            <input type="password" name="new_password2" class="py-4 px-6 w-3/4 rounded-xl form-control" autocomplete="new-password"
                            required id="id_new_password2" placeholder="Confirm password">
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="p-5 form-group mt-0 mb-1">
                            <button type="submit" class="col-md-12 btn btn-dark px-6 py-4 p-3 rounded-xl bg-teal-500 text-white">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {% else %}
            <div class="alert alert-warning">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
        {% endif %}
    </div>
{% endblock content %}
